:root {
  --primary-text-color: #212121;
  --head-text-color: #000000;
  --subsidiary-color: #2196F3;
  --primary-white-color: #E5E5E5;
  --lower-text-color: #757575;
  --tagline-text-color: #fff;
  --contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  
}


/* логотип */
.logo {
  color: var(--head-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logocolor {
  color: var(--subsidiary-color);
}
.logocolor_white {
  color: var(--tagline-text-color);
}

/* navigation */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style:none;
  color: var(--primary-text-color);
}
.link{
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {

  color: var(--subsidiary-color);
}


/* mail,phone */

.connections{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    list-style:none;
}
.connect{
  color: var(--lower-text-color);
  text-decoration: none;
}
.connect:hover,
.connect:focus {
  color: var(--subsidiary-color);
}

/* banner and button */

.tagline{
color: var(--tagline-text-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
}

.but_order{
  color: var(--tagline-text-color);
  background-color: var(--subsidiary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  width: 200px;
  height:50px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15), 0 4px 4px 0 rgba(0,0,0,0.15);
  border: none;
}

.but_order:hover,
.but_order:focus {
  color: var(--tagline-text-color);
  background-color: var(--subsidiary-color);
}



/* advantages */

.head_advantage {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.advantage {
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: var(--lower-text-color);
}

/* What are we doing */
.we_doing .our_team_head {

      font-weight: 700;
      font-size: 36px;
      line-height: 16;
      letter-spacing: 0.03em;
      color: var(--primary-text-color);
}


/* our team */

.our_team_names {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.our_team_descrip{
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--lower-text-color);
}


/* basement */


.connect_foot {
  color: var(--contacts-color);
  text-decoration: none;
}

.connect_foot:hover,
.connect_foot:focus {
  color: var(--subsidiary-color);
}

.connect_foot_lis {
  list-style:none;
}

.addres{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--tagline-text-color);
}

.lis{
  list-style:none;
}


     /* portfolio */


     /* list of works */

     .lis_buttons{
      list-style:none;

     }

   .lis_buttons_each{
      font-family: inherit;
      width: 73px;
      height: 38px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.03em;
      color: var(--primary-text-color);
      border: none;
      cursor: pointer;
  }

  .lis_buttons_each:hover,
  .lis_buttons_each:focus {
    font-family: inherit;
    color: var(--tagline-text-color);
    background-color: var(--subsidiary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }

  .lis_buttons_each_sites{
    font-family: inherit;
    width: 128px;
    height:38px;
    list-style:none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    border: none;
  }

  .lis_buttons_each_sites:hover,
  .lis_buttons_each_sites:focus {
    font-family: inherit;
    color: var(--tagline-text-color);
    background-color: var(--subsidiary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }

      .lis_buttons_each_apps{
      font-family: inherit;
      width: 145px;
      height:38px;
      list-style:none;
      cursor: pointer;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.03em;
      color: var(--primary-text-color);
      border: none;
      }

      .lis_buttons_each_apps:hover,
      .lis_buttons_each_apps:focus {
        font-family: inherit;
        color: var(--tagline-text-color);
        background-color: var(--subsidiary-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
      }

      .lis_buttons_each_design{
        font-family: inherit;
        width: 103px;
        height:38px;
        list-style:none;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        border: none;
      }

      .lis_buttons_each_design:hover,
      .lis_buttons_each_design:focus {
        font-family: inherit;
        color: var(--tagline-text-color);
        background-color: var(--subsidiary-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
      }

      .lis_buttons_each_market{
        font-family: inherit;
        width: 130px;
        height:38px;
        list-style:none;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        border: none;
      }

      .lis_buttons_each_market:hover,
      .lis_buttons_each_market:focus {
        font-family: inherit;
        color: var(--tagline-text-color);
        background-color: var(--subsidiary-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
      }

  /* list of works photo */

  .list_of_wor_names {
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  .list_of_wor_names_descrip {
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.03em;
      color: var(--lower-text-color);
  }






/* dbbwbwrnw */
